.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
}

.inner {
    height: 100%;
    width: min(var(--default-layout-width), 100% - 32px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
